.defaultText {
  font-size: 32px; /* Use pixels for font size */
  font-family: 'Roboto', sans-serif; /* Added fallback */
  font-weight: normal; /* Corrected to 'normal' */
}

.clock-label {
  font-size: 48px; /* Use pixels for font size */
  font-family: 'Roboto', sans-serif; /* Added fallback */
  text-anchor: middle; /* Center the text */
  fill: white; /* Set text color */
}

.large-value {
  font-family: 'Seville-Book', sans-serif; /* Added fallback */
  font-size: 60px; /* Use pixels for font size */
 
}

.date-circle {
  /* Circle color with transparency */
  stroke: white; /* Outline color */
  stroke-width: 1; /* Outline width */
}