.defaultText {
  font-size: 32; /* Use pixels for font size */
  font-family: 'Roboto', sans-serif; /* Added fallback */
  font-weight: normal; /* Corrected to 'normal' */
}


.large-value {
  font-family: 'Seville-Book', sans-serif; /* Added fallback */
  font-size: 60; /* Use pixels for font size */
 
}

.date-circle {
  /* Circle color with transparency */
  stroke: white; /* Outline color */
  stroke-width: 1; /* Outline width */
}
